# ============================================================
# Environment variables
# ============================================================

.env
.env.*

# ============================================================
# Python
# ============================================================

__pycache__/
*.pyc
*.pyo

venv/
.venv/

# ============================================================
# Editors / IDEs
# ============================================================

.vscode/
.idea/

# Visual Studio
.vs/

# ============================================================
# Logs
# ============================================================

logs/
*.log

# ============================================================
# Build Output
# ============================================================

build/
out/
dist/

cmake-build-*/
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
compile_commands.json
Testing/

# ============================================================
# Compiled Objects
# ============================================================

*.obj
*.o
*.lo
*.slo
*.pch

# ============================================================
# Libraries
# ============================================================

*.a
*.lib

# ============================================================
# Executables
# ============================================================

*.exe
*.out
*.app

# ============================================================
# Shared Libraries
# ============================================================

*.dll
*.so
*.dylib

# ============================================================
# Debug Symbols
# ============================================================

*.pdb
*.ilk
*.exp

# ============================================================
# Testing
# ============================================================

*.gcda
*.gcno
*.gcov

# ============================================================
# Dependencies
# ============================================================

node_modules/

# ============================================================
# Operating System
# ============================================================

.DS_Store
Thumbs.db
Desktop.ini